.login-button{
    border-radius: 8px;
    font-size: medium;
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    background-color: #F1E4FF;
    color: #A630F5;
}
.signup-button{
        border-radius: 8px;
        font-size: medium;
        margin: 0 0.5rem;
        padding: 0.5rem 2rem;
        background-color: #5B4A99;
        color: white;
}
.title {
    font-size: 4rem;
}
.comp-css{
    border-radius: 25%;
    padding: 20px;
}
.get-started{
    border-radius: 4px;
    font-size: medium;
    padding: 1.25rem 3rem;
    background-color: #5B4A99;
    color: white;
    text-decoration: none;
}
.get-started:hover{
    color: white;
    text-decoration: none;

}
.members{
    background-color: #A9A1CA;
    border-radius: 1rem;
    padding: 20px;
    color: black;
}
.center-text{
    text-align: center;
}
.input-field{
    border: 1px solid #5b4a99;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0.5rem;
    padding: 0.75rem 1.2rem;
    width: 100%;
    background-color: white !important;
}
.submit-btn{
        background-color: #5b4a99;
        border: none;
        border-radius: 8px;
        color: #fff;
        font-weight: 400;
        outline: none;
        padding: 0.75rem;
        width: 100%;
}
.smo{
   
    width: 100vh;
}